.head1{
    color: deepskyblue;
    font-family: Monospaced;
    font-size: x-large;
    font-style: italic;
    margin-left: 50%;



}
.defText{
    margin-left: 60%;
    font-family: cursive;
}

.wrapper {
    background-color: darkseagreen;
}

*{margin:0; padding:0;}

/**#container{
    width: 1000px;
    overflow: hidden;
    margin: 100px auto;
    background: white;
}
*/
/**header property**/
.headerProperty{
    background-color: darkgray;
}
.headerbody{
    height: 10%;
    margin-bottom: 10px;
}


.photoslider{
    height: 100%;
    width: 120%;
    margin-bottom: 10px;
    line-height: 0px;
}

.headstart{
    -webkit-animation: bannermove 15s linear infinite;
    -moz-animation: bannermove 15s linear infinite;
    -ms-animation: bannermove 15s linear infinite;
    -o-animation: bannermove 15s linear infinite;
    animation: bannermove 15s linear infinite;
}


@keyframes bannermove {
    100%{
        margin-left: 0%;
    }
    0%{
        margin-left: -90%;
    }
}

@-webkit-keyframes bannermove {
    100%{
        margin-left: 0%;
    }
    0%{
        margin-left: -90%;
    }
}

@-ms-keyframes bannermove {
    100%{
        margin-left: 0%;
    }
    0%{
        margin-left: -90%;
    }
}

@-o-keyframes bannermove {
    100%{
        margin-left: 0%;
    }
    0%{
        margin-left: -90%;
    }
}
.photoslider img{
    height: 75px;
    width:75px;
}


.photoslider img{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/**This will give the transition to the picture. if you hover it over you can see enlarged picture**/
.photoslider img:hover{
    -webkit-transform: scale(2.1);
    -moz-transform: scale(2.1);
    -o-transform: scale(2.1);
    -ms-transform: scale(2.1);
    transform: scale(2.1);
    cursor: pointer;

    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

/** properties for read more description**/
.ex {
    background-color: #e5eecc;
    padding: 7px;
    border: solid 1px #c3c3c3;
}

/**Button show hide property**/
.buttonShowHide{
    color: #e5eecc;
}
/**Login/signup**/
.loginSignUp{
    margin: 5px 0px 5px 5px;
    color: #e5eecc;
    text-align: right;
}

/**users interaction**/
.signIn{
    background-color: #e5eecc;
    font-size: 15px;
    margin-left: 10px;
}

.signUp{
    background-color: #e5eecc;
    font-size: 15px;
    margin-right: 10px;
}

/**For my account and sign out**/
.signout{
    background-color: #e5eecc;
    font-size: 15px;
    margin-left: 10px;
}

.myAccount{
    background-color: #e5eecc;
    font-size: 15px;
    margin-right: 10px;
}

/**table design for login table**/
.tableProperty{
    width: 350px;
    border: 1px;
    border-radius: 20px;
    background-color: cornflowerblue;
}
.secondTableforUserLogin{
    width: 100%;
    border: 1px;
    border-radius: 20px;
    background-color: cornflowerblue;
}